
	<div class="container">
		<div class="p-5 rounded" style="background-color: #e7fbf1;">
				<div class="row">
						<div class="col-5 d-flex align-items-center">
							<div class="">
								<h1>Easily add features to your website</h1>
								<p class="text-muted">Choose the featurs and quickly add them to your website without coding</p>
								
								<form class="input-group mb-3 shadow-sm" id="signupForm">
									<input 
										type="email" 
										required
										id="cover-signup-email"
										class="form-control form-control-alternative" 
										placeholder="Enter your email" 
										aria-label="Recipient's username" 
										aria-describedby="button-addon2">
									<div class="input-group-append">
										<button 
											class="btn btn-dark" 
											type="submit" 
											id="signup-button"
											>Sign Up</button>
									</div>
								</form>
							</div>
						</div>
						<div class="col-7 text-right">
							<img src="/img/cover.svg" width="400px">
						</div>
					</div>
		</div>
	</div>

