<<footer class="my-5 pt-4 text-muted">
    <div class="container">
      <div class="row">

        <div class="col-6 pr-5">

          <h4 class="mb-0">uisuite.io</h4>
          <small><strong>version</strong> 0.1</small> <span class="badge badge-warning ml-2">beta</span>

          <p>formle.io is a common platform for your website. You can control your website with formle.io</p>
        </div>

        <div class="col-2">
          <h5>Products</h5>

          <a href="#0">Forms</a>
          <a href="#0">Notifications</a>
        </div>

        <div class="col-2">
          <h5>Social</h5>

          <a target="_blank" href="https://www.facebook.com/UI-Suite-121210402615658">Facebook</a>
          <a target="_blank" href="https://twitter.com/uisuitehq">Twitter</a>
          <a target="_blank" href="https://instagram.com/uisuite">Instagram</a>
        </div>
        <div class="col-2">
          <h5>Useful Links</h5>
          <a href="{{ .Site.BaseURL }}blog">Blog</a>
          <a href="{{ .Site.BaseURL }}about">About Us</a>
          <a href="{{ .Site.BaseURL }}terms">Terms & Condiitons</a>
          <a href="{{ .Site.BaseURL }}privacy">Privacy Policy</a>
          <a href="{{ .Site.BaseURL }}contact">Contact Us</a>
        </div>
        
      </div>
    </div>

    <div class="pt-5 text-center">
      © formle.io 2019 | Made with 🍺 in India
    </div>

  </footer>