<div class="container mt-5">
	<div class="p-5 text-white border rounded">
		<div class="row">
			<div class="col-7">
				<h2 class="m-0">Subscribe our news letter</h2>
				<p class="text-muted m-0">Subscribe our news letter and get latest news about our products</p>
			</div>
			<div class="col-5">
				<form class="input-group">
					<input type="" class="form-control" name="" placeholder="someone@somewhere.com">
					<div class="input-group-append">
				    <button class="btn btn-primary">Subscribe</button>
				  </div>
					
				</form>
			</div>
		</div>
	</div>
</div>