{{ partial "header.html" . }}

{{ partial "cover.html" . }}

<div class="container py-5 my-5">
	<!-- <h2>Features you can add to your website</h2> -->
	<h2 class="text-center">Our apps</h2>
	<div class="row my-5">
		<div class="col-6">
			<img src="/img/form.svg" width="80px">
			<h3>Forms Backend</h3>
			<p>Forms backend can handle all your form submissions, all you have to crate a unique name for your form and start sending data to it</p>
			<a href="/products/forms-backend">Know More ⟶</a>
		</div>
		<div class="col-6">
			<img src="/img/notifications.svg" width="80px">
			<h3>Notification System</h3>
			<p>Forms backend can handle all your form submissions, all you have to crate a unique name for your form and start sending data to it</p>
			<!-- <a href="#0" class="disabled">Know More ⟶</a> -->
			<span class="badge badge-warning">Coming Soon</span>
		</div>
	</div>
</div>

{{ partial "behind-info.html" . }}

{{ partial "testimonials.html" . }}

{{ partial "footer.html" . }}